.login-wrapper {
  min-height: 100vh;
  background: #f0f2f5;
}

.login-card {
  width: 360px;
  text-align: center;
}

.login-card h1 {
  font-family: 'Facebook Sans', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
